* {
  user-select: none;
}
*::selection {
  background: none;
}
*::-moz-selection {
  background: none;
}
html {
  height: 100%;
}
body {
  padding:0px;
  margin:0px;
  position:relative;
  height: 100%;
  font-family: "Gill Sans", sans-serif;
}

.nice_ui_thing {
  position:absolute;
  background-color: #c25f1c;
  border: 5px solid #a3490c;
  z-index:150;
  display:none;
  padding:15px;
  border-radius:15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;  
  box-sizing: border-box;
  -webkit-box-shadow: 0px 10px 33px -3px rgba(0,0,0,0.56); 
  box-shadow: 0px 10px 33px -3px rgba(0,0,0,0.56);
  text-align:center;
  color:#f5f0ed;
}

#g {
  position:relative;
  margin:none;
  height: 100%;
  overflow:hidden;
  background-color: #b3c9cc;
}

.status {
  position: absolute;
  background-color: #fff;
  color:#5f5f5f;
  text-align:center;
  border-radius:3px;
  -webkit-box-shadow: 0px 10px 33px -3px rgba(0,0,0,0.56); 
  box-shadow: 0px 10px 33px -3px rgba(0,0,0,0.56);
}

.bear_life {
  display:inline-block;
  background-image: url('bear_marker.png');
  background-repeat: no-repeat;
  width:14px;
  height:14px;
}
.bear_life.death { background-image: url('bear_marker_dead.png');  }

.bear {
  width:90px;
  height:90px;
  border-radius:35px;
  background-color: brown;
  position: absolute;
  top:10px;
  left:10px;

  z-index: 10;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;  
  box-sizing: border-box; 

  image-rendering: crisp-edges;
  background-position: center 15%;
  background-repeat: no-repeat;
  background-size: 35% 35%;

  -webkit-box-shadow: 0px 10px 33px -3px rgba(0,0,0,0.56); 
  box-shadow: 0px 10px 33px -3px rgba(0,0,0,0.56);

  /*temp*/
  text-align: center;
  font-size: 0px;
  color: #fff;
  /*border: 4px solid #000;*/
}

  .normal {
    background-image: url("face_normal.png");
  }
  .happy {
    background-image: url("face_happy.png");
  }
  .panic {
    background-image: url("face_panic.png");
  }
  .down {
    background-image: url("face_down.png");
  }
  .dead {
    background-image: url("face_dead.png");
  }

.ear {
  background-color: brown;
  border-radius:3px;
  position: absolute;
}
.foot {
  background-color: brown;
  border-radius:1px;
  position: absolute;
}

.boat {
  position: absolute;
  top:100px;
  left:200px;

  z-index: 20;

  background-image:
    linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 76%, rgba(50,50,50,0.25) 100%),
    url('boat.png');
  /*background-image: url("grass.png");*/
  background-repeat: repeat;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.cog {
  position: absolute;
  background-color: black;
  border-radius: 5px;
  width:10px;
  height:10px;
  z-index:100;
}

.river {
  display:table;
  empty-cells: show;
  position:absolute;
  /*width:100%;*/
  width:800px;
  bottom:0px;
  left:85px;
  right:200px;
  top: 200px;
  pointer-events: none;

  z-index: 30;
}

  .river>div {
    display:table-cell;
    position:relative;
    height:100px;
    pointer-events: none;
  }

  .river>div>div {
    position:absolute;
    bottom:0px;
    left:0px;
    right:0px;
    height:100px;
    pointer-events: none;

    background: rgb(68,112,143);
    background: linear-gradient(0deg, rgba(68,112,143,1) 0%, rgba(68,112,143,1) 35%, rgba(68,112,143,1) 68%, rgba(199,224,230,1) 100%);
    opacity:0.9;
  }

.land {
  position:absolute;
  /*width:100%;*/
  bottom:0px;
  left:0px;
  right:0px;
  top: 225px;

  background-image:
    linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 76%, rgba(50,50,50,0.25) 100%),
    url('grass.png');
  /*background-image: url("grass.png");*/
  background-repeat: repeat;

}

  .land.left {
    border-top-right-radius: 20px;
  }
  .land.right {
    border-top-left-radius: 20px;
  }

.background_water {
  pointer-events: none;
  position:absolute;
  z-index:0;
  background: rgb(68,112,143);
  opacity:0.9;
  top:300px;
  bottom:0px;
  z-index: 30;
}

.muter {
  position:absolute;
  z-index:200;
  top: 5px;
  right: 25px;
  opacity:1.0;
}
.muter.muted {
  opacity:0.2;
}
